*.mp4
*.m4v
*.mov
*.webm
*.mkv
*.avi
*.png
*.jpg
*.jpeg
*.webp
*.gif
*.svg
*.avif
*.bmp
*.tif
*.tiff
*.ico
*.mp3
*.wav
*.aac
*.m4a
*.ogg
*.opus
*.flac
*.ttf
*.otf
*.woff
*.woff2
*.mts
*.m2ts
*.mxf
*.mpg
*.mpeg
*.3gp
*.heic
*.tif
*.tiff
*.psd
*.aif
*.aiff
*.opus
node_modules/
.venv/
__pycache__/
*.lock
.DS_Store
Thumbs.db
