[flake8]
max-line-length = 100
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    migrations,
    .pytest_cache,
    .vscode
ignore = 
    E501,
    W503,
    E203,
    F401
per-file-ignores =
    __init__.py:F401
